<h2>The ultimate goal</h2>
<tpc-prism language="javascript" ngPreserveWhitespaces><!-- htmlmin:ignore -->// the contexts
export &#123; window.AudioContext as AudioContext };
export &#123; window.OfflineAudioContext as OfflineAudioContext };
// the AudioBuffer
export &#123; window.AudioBuffer as AudioBuffer };
// all the nodes
export &#123; window.AnalyserNode as AnalyserNode };
export &#123; window.AudioBufferSourceNode as AudioBufferSourceNode };
export &#123; window.ChannelMergerNode as ChannelMergerNode };
// ...<!-- htmlmin:ignore -->
</tpc-prism>
