<h2>The ultimate goal</h2>
<tpc-prism language="javascript" ngPreserveWhitespaces
    ><!-- htmlmin:ignore -->// the contexts export &#123; window.AudioContext as AudioContext &#125;; export &#123;
    window.OfflineAudioContext as OfflineAudioContext &#125;; // the AudioBuffer export &#123; window.AudioBuffer as AudioBuffer &#125;; //
    all the nodes export &#123; window.AnalyserNode as AnalyserNode &#125;; export &#123; window.AudioBufferSourceNode as
    AudioBufferSourceNode &#125;; export &#123; window.ChannelMergerNode as ChannelMergerNode &#125;; // ...<!-- htmlmin:ignore -->
</tpc-prism>
