<h2>The ultimate goal</h2>
<tpc-prism language="javascript" ngPreserveWhitespaces
    ><!-- htmlmin:ignore --><!-- prettier-ignore -->// the contexts
export &lbrace; window.AudioContext as AudioContext &rbrace;;
export &lbrace; window.OfflineAudioContext as OfflineAudioContext &rbrace;;
// the AudioBuffer
export &lbrace; window.AudioBuffer as AudioBuffer &rbrace;;
// all the nodes
export &lbrace; window.AnalyserNode as AnalyserNode &rbrace;;
export &lbrace; window.AudioBufferSourceNode as AudioBufferSourceNode &rbrace;;
export &lbrace; window.ChannelMergerNode as ChannelMergerNode &rbrace;;
// ...<!-- htmlmin:ignore --></tpc-prism
>
